// variables

@import url('https://fonts.googleapis.com/css?family=Hind+Madurai|Lato');
$background-color: #212121;
$prim-color: #377abe;
$sec-color: #e36246;
$font-family: sans-serif;
$color-light: white;

// //start of styles
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: darkred;
}
.container {
  position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background: $background-color;
    overflow: auto;
}
p {
  color: $color-light;
  display: inline-block;
  font-family: 'Lato', sans-serif;

}
form {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
button.btn {
  background: $prim-color;
}
h1 {
  color: $prim-color;
  text-align: center;
  font-size: 4em;
  letter-spacing: 2px;
  font-family: 'Hind Madurai', sans-serif;
}
h2, h3 {
  font-family: 'Hind Madurai', sans-serif;
  font-size: 2em;
  text-align: center;
  color: darkred;
}
h5 {
  color: $color-light;
  font-family: 'Hind Madurai', sans-serif;
  text-align: center;
}
#error {
  text-align: center;
}
